/* stye
#f4f4f4
#3c0e4e
#7a03a8
*/
 
.caption-text {
    font-family: "Edwardian Script ITC", "apple Chancery", cursive;
}

 body {
     font-family:"Sansita Swashed", system-ui, sans-serif;
     margin: 1  1 1 1;
     padding: 1 1 1 1;
     background-color: #f4f4f4;
     color: rgb(57, 57, 57);
     line-height: 1.5;
 }
 
 
 footer {
     background: #3c0e4e;
     color: #F2F7FD;
     text-align: center;
     padding: .5rem 0;
     margin-top: 1rem;
 }
 
 footer > p {
     color:#F2F7FD;
 }
 
 h1 {
     color: #0e3a4e;
     font-family: "Sansita Swashed", system-ui, sans-serif;
     font-weight: 800;
     font-style: normal;
     font-size: 3rem;
 }
 
 h2, h3, h4{
     color: #7a03a8;
     font-family:'Times New Roman', Times, serif;
     margin-top: 1rem;
     margin-bottom: 0.5rem;
 }
 
 h2 {
     font-size: 2rem;
 }
 
 h3 {
     font-size: 1.75rem;
 }
 
 h4 {
     font-size: 1.5rem;
 }
 
 p {
     margin: 0 0 1rem 0;
     font-size: 1.1rem;
     color: #0e3a4e;
     line-height: 1.6;
 }
 
 a:link,
 a:visited {
     color: #7fffd4;
 }
 
 a:hover {
     color: #4e4d0e;
 }
 
 a:active {
     color: rgb(25, 0, 139);
 }
 
 footer a:link,
 footer a:visited {
     color: #54f8b9;
 }
 
 footer a:hover {
     color: #f478ff;
 }
 
 footer a:active {
     color: #ffffff;
 }

 header, footer {

     text-align: center;

     padding: 1rem;

     background: #ffffff;

 }

 main {

     max-width: 600px;

     margin: 2rem auto;

     text-align: center;

 }

 form {

     margin: 2rem auto;

     padding: 1rem;

     background: #fff;

     border-radius: 10px;

     box-shadow: 0 0 10px rgba(0,0,0,0.1);

     width: 100%;

     max-width: 400px;

 }

 label {

     display: block;

     margin: 0.5rem 0 0.2rem;

     text-align: left;

 }

 input {

     width: 100%;

     padding: 0.5rem;

     border: 1px solid #aaa;

     border-radius: 5px;

 }

 button {

     margin-top: 1rem;

     padding: 0.6rem 1.5rem;

     background: #222;

     color: #fff;

     border: none;

     border-radius: 5px;

     cursor: pointer;

 }

 button:hover {

     background: #444;

 }