
/* #1b8d67
    #3c0e4e
    #f047ff
    #0e3a4e
    #410101
    #4e4d0e
    #54f8c2
 */
 @import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;700;900&display=swap'); 

 .sansita-swashed-example {
   font-family: "Sansita Swashed", system-ui, sans-serif;
   font-weight: 400;
   font-style: normal;
 }

/* Team css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
      font-family: "Sansita Swashed", system-ui, sans-serif;
      line-height: 1.5;
  }
  
  main {
      margin: 0 auto;
      padding: 0 10%;
      max-width: 1600px;
  }

  
  /* team css */
  .team {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  
  .team-member {
      text-align: center;
      width: 30%;
      min-width: 200px;
      margin: 1em 0;
      padding: 1em 1rem;
      border-radius: 5px;
      background-color: #f9f9f9;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  }
  
  .team-member h3 {
      margin: 0.5em 0;
      font-size: x-large;
  }
  
  .team-member image {
      width: 150px;
      height: 150px;
      border-radius: 35%;
    display: block;
    object-fit: cover;
    margin: 0 1rem 1em; margin-bottom: 1em;
  }
  
  