
/* Team css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  main {
      margin: 0 auto;
      padding: 0 10%;
      max-width: 1600px;
  }

  
  /* team css */
  .team {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  
  .team-member {
      text-align: center;
      width: 30%;
      min-width: 200px;
      margin: 1em 0;
      padding: 1em 1rem;
      border-radius: 5px;
      background-color: #f9f9f9;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  }
  
  .team-member h3 {
      margin: 0.5em 0;
      font-size: x-large;
  }
  
  .team-member image {
      width: 150px;
      height: 150px;
      border-radius: 35%;
    display: block;
    object-fit: cover;
    margin: 0 1rem 1em; margin-bottom: 1em;
  }
  
  